@model CreateCategoryInputModel

@{ 
    ViewData["Title"] = "Create New Category"; 
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
   <div class="container">
    <h1>@ViewData["Title"]</h1>
    <div class="row">
        <div class="col-md-4">
            <form asp-controller="Categories"
                  asp-action="Create">
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <div class="tt-value-wrapper">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                        
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-secondary btn-width-lg">Create</button>
                    <a asp-controller="Categories"
                       asp-action="All"
                       class="btn btn-primary btn-width-lg">
                        Back
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
