@model AddPostFormModel

@{
    ViewData["Title"] = "Add Post";
}

<link href="tagify.css" rel="stylesheet">


<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <h2 class="heading-margin text-center">Add Post</h2>

        <form method="post">
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" placeholder="Enter a Title">
                <span asp-validation-for="Title"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content"></label>
                <textarea id="tinymceInput" asp-for="Content" placeholder="Description"></textarea>
                <span asp-validation-for="Content"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl"></label>
                <input asp-for="ImageUrl" class="form-control" placeholder="Your Url...">
                <span asp-validation-for="ImageUrl"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId">Category</label>
                <select asp-for="CategoryId" id="input-category" placeholder="Please select">
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
               <label asp-for="TagIds">Tags</label>
                <select asp-for="TagIds" multiple data-mdb-filter="true" id="input-tags">
                   @foreach (var tag in Model.Tags)
                    {
                       <option value="@tag.Id">@tag.Name</option>
                    }
                </select>
                <span asp-validation-for="TagIds"></span>
                </div>
            <div>
                <div class="heading-margin text-center">
                    <button type="submit" class="btn btn-secondary btn-width-lg">Create Post</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts 
{
    <script>
        var $select = $('#input-category').selectize({
            create: false,
            sortField: 'text',
        });
     
        $('#input-tags').selectize({
            create: false,
            sortField: 'text',
            plugins: ['remove_button'],
            delimiter: ',',
            persist: false
        });

        tinymce.init({
            selector: 'textarea#tinymceInput',
            height: 180,
            plugins: [
                'advlist autolink link image lists charmap preview hr anchor pagebreak',
                'searchreplace wordcount visualblocks visualchars code fullscreen  media nonbreaking',
                'emoticons template paste help'
            ],
            toolbar: [
                'undo redo | bold italic underline | alignleft aligncenter alignright alignjustify  bullist numlist hr | emoticons link codesample image media |'
            ],
            link_default_protocol: "https",
            menubar: false
        });
     
    </script>  
}