@model AddPostFormModel
@{
    ViewData["Title"] = "Add Post";
}

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <h2 class="heading-margin text-center">Add Post</h2>

        <form method="post">
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" placeholder="Enter a Title">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId">Category</label>
                <select asp-for="CategoryId" id="input-category" placeholder="Please select">
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="TagIds">Tags</label>
                <select asp-for="TagIds" multiple data-mdb-filter="true" id="input-tags">
                    @foreach (var tag in Model.Tags)
                    {
                        <option value="@tag.Id">@tag.Name</option>
                    }
                </select>
                <span asp-validation-for="TagIds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content"></label>
                <textarea id="tinymceInput" asp-for="Content" placeholder="Description"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div>
                <div class="heading-margin text-center">
                    <button type="submit" class="btn btn-secondary btn-width-lg">Create Post</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/selectize/selectize.js"></script>
    <script>
        tinymce.init({
            selector: 'textarea#tinymceInput',
            branding: false,
            height: 450,
            plugins: [
                'advlist autolink link image imagetools lists charmap preview hr anchor pagebreak',
                'searchreplace wordcount visualblocks visualchars code fullscreen  media nonbreaking',
                'emoticons template paste help'
            ],
            toolbar: [
                'undo redo | bold italic underline| alignleft aligncenter alignright alignjustify | bullist numlist hr| emoticons | link codesample image media'
            ],
            image_title: true,
            automatic_uploads: true,

            file_picker_types: 'image',
            file_picker_callback: function (cb, value, meta) {
                var input = document.createElement('input');
                input.setAttribute('type', 'file');
                input.setAttribute('accept', 'image/*');
                input.onchange = function () {
                    var file = this.files[0];
                    var reader = new FileReader();
                    reader.onload = function () {
                        var id = 'blobid' + (new Date()).getTime();
                        var blobCache = tinymce.activeEditor.editorUpload.blobCache;
                        var base64 = reader.result.split(',')[1];
                        var blobInfo = blobCache.create(id, file, base64);
                        blobCache.add(blobInfo);
                        cb(blobInfo.blobUri(), { title: file.name });
                    };
                    reader.readAsDataURL(file);
                };
                input.click();
            },
            menubar: false,
            branding: false
        });
    </script>
}