@using Microsoft.Extensions.Options
@using YourMoviesForum.Services.Providers.Security_Models
@model AddPostFormModel
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@inject IOptions<ReCaptchSettings> GoogleReCaptcha

@{
    ViewData["Title"] = "Add Post";
    var configKey = GoogleReCaptcha.Value.Key;
}

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <h2 class="heading-margin text-center">Add Post</h2>

        <form method="post">
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" placeholder="Enter a Title">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId">Category</label>
                <select asp-for="CategoryId" id="input-category" placeholder="Please select">
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="TagIds">Tags</label>
                <select asp-for="TagIds" id="input-tags">
                    @foreach (var tag in Model.Tags)
                    {
                        <option value="@tag.Id">@tag.Name</option>
                    }
                </select>
                <span asp-validation-for="TagIds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content"></label>
                <textarea id="tinymceInput" asp-for="Content" placeholder="Description"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>

             <iframe id="form_target" name="form_target" style="display:none"></iframe>

            <div>
                <div class="heading-margin text-center">
                    <button type="submit" class="btn btn-primary btn-width-lg">Create Post</button>
                </div>
            </div>
        </form>
    </div>
</div>



 
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/selectize/selectize.js"></script>
    <script src="~/js/tinyMce.js"></script>


    <script src="https://www.google.com/recaptcha/api.js?render=@GoogleReCaptcha.Value.Key"></script>
    <script>
      function onClick(e) {
        e.preventDefault();
        grecaptcha.ready(function() {
          grecaptcha.execute(@configKey, {action: 'login'}).then(function(token) {
               document.getElementById("RecaptchaValue").value = token;
              console.log(token);
          });
        });
      }
    </script>
}