
<link href="/css/homePage.css" rel="stylesheet" />

<body>
    <div class="header">
        <div id="topic">Topic</div>
        <div id="category">Category</div>
        <div id="rating">Rating</div>
        <div id="replies">Replies</div>
        <div id="activity">Activity</div>
    </div>
</body>
