@page

@model SuccessfulRemoval

@{
    ViewData["Title"] = "Successful Removal";
}

<h1 class="text-center">Your account has been successfully removed!</h1>

<script>
    setTimeout(function () {
        window.location.href = "/";
    }, 6000); 
</script>
