body {
    font-weight: 400;
    color: #666f74;
    text-align: left;
    animation: fade-in .3s linear;
    background-color: #f8f9fb;
}

.main {
    background-color: white;
    padding: 30px 40px 40px 60px;
}

#header {
    border-bottom: 1px solid #e2e7ea;
    padding: 0 0 30px 0;
}

.top-header {
    display: flex;
    justify-content: space-between;
    padding-top: 6px;
    padding-bottom: 8px;
}

#calendar-icon{
    margin-right: 16px;
}

.tags {
    display: flex;
    gap: 10px;
}

.category-section{
    margin-top:15px;
    margin-bottom:5px;
}

#category {
    font-size: 20px;
    padding: 10px 12px 7px;
    cursor: pointer;
    border-radius: 3px;
    background-color: #A96067;
    color: #f5f5f5;
}

.tagElement {
    display: block;
    font-size: 14px;
    margin-top: 10px;
    padding: 6px 10px 2px;
    cursor: pointer;
    border-radius: 3px;
    background-color: #d7dadc;
    color: cadetblue;
}

#anchor{
    text-decoration:none;
}

i#tag-icon{
    margin-right:5px;
}

#options {
    display: flex;
    float: right;
    justify-content: space-between;
    column-gap: 20px;
}

#options a {
   font-size: 20px;
}

