.main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.col-md-4{
    padding-right:1px;
}

.col-md-8{
    padding-left:1px;
}

.separator {
    clear:both;
    border-bottom: 1px solid black;
}

#message-element {
    float:left
}

#element{
    font-size:20px;
    margin-top:10px;
    margin-right:20px;
    float:right;
}

.not-found {
    margin-top:100px;
    align-items: center;
    text-align: center;
    margin-right:20px;
}

.recieved-messages {
  display:inline-block;
}

.not-found p{
    font-size:20px;
}

#underline{
    text-decoration:underline;
    color:black;
}

#messageBox {
    font-family: "Krub",sans-serif;
    background: #e2e7ea;
    color: #666f74;
    line-height: 25px;
    border: none;
    outline: none;
    height: 230px;
    font-weight: 500;
    border-radius: 3px;
    border: 1px solid #e2e7ea;
}

.message {
    padding: 24px 30px 4px 30px;
    width: 31.4vw;
    /*width:27.5vw;*/
    cursor: pointer;
}

.user-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 100%;
    line-height: 26px;
}

.username {
    color: black !important;
    font-size: 17px !important;
}

.time {
    color: #666f74;
    font-size: 14px;
    width:100%;
    text-align:right;
}

.a:hover{
    text-decoration:none;
}


.message:nth-child(odd) {
    background-color: #f2f4f6;
}

.current-item:hover{
    text-decoration:none;
}

.hover-underline-animation {
    display: inline-block;
    width:500px;
    position: relative;
    color: #0087ca;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.lastMessage {
    color: #666f74;
}

.col-md-7 {
    border-right: 1px solid black;
    
}

